# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
venv/
env/
.venv/

# IDE
.idea/
*/.idea
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment variables
.env

# Logs
*.log

# Distribution
dist/
build/
*.egg-info/
*.egg

# Project specific
/test
lambda/
